/*
    SLURM executor settings.
    Defaults mirror the cluster the published analysis was run on; override
    `params.slurm_partition` and `params.slurm_constraint` for other sites.
*/

params {
    slurm_partition  = 'earth-3'
    slurm_constraint = 'rhel8'
    slurm_account    = null
}

process {
    executor       = 'slurm'
    queue          = params.slurm_partition
    clusterOptions = {
        def opts = []
        if (params.slurm_constraint) opts << "--constraint=${params.slurm_constraint}"
        if (params.slurm_account)    opts << "--account=${params.slurm_account}"
        opts << '--nodes=1'
        opts.join(' ')
    }
}

executor {
    name            = 'slurm'
    queueSize       = 60
    submitRateLimit = '10/1min'
    pollInterval    = '30 sec'
}
